<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main">
  <div class="content">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>IMFácil!</mat-card-title>
        <mat-card-subtitle>Cálculo IMC </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          O IMC, ou Índice de Massa Corpórea, é um parâmetro utilizado pela Organização Mundial da Saúde para determinar
          o peso ideal de uma pessoa.
        </p>
        <p>
          O cálculo do IMC é simples: basta dividir o peso (em kg) pela altura (em metros) elevada ao quadrado. Um IMC
          entre 18,5 e 24,9 é considerado normal.
        </p>
        <p>
          Quer saber qual é o seu IMC? Insira seu peso e altura nos campos abaixo e compare com os valores da tabela.
          Lembre-se: utilize pontos como separadores, conforme os exemplos.
        </p>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="imc">
            <th mat-header-cell *matHeaderCellDef> IMC </th>
            <td mat-cell *matCellDef="let element"> {{element.imc}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="classificacao">
            <th mat-header-cell *matHeaderCellDef> Classificação </th>
            <td mat-cell *matCellDef="let element"> {{element.classificacao}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="obesidade">
            <th mat-header-cell *matHeaderCellDef> Grau de obesidedade </th>
            <td mat-cell *matCellDef="let element"> {{element.obesidade}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row [class.demo-row-is-clicked]="clickedRows.has(row)"
            *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </mat-card-content>
      <mat-card-actions align="start">
        <td>
          <section>
            <mat-form-field class="campos">
              <mat-label>Altura (cm)</mat-label>
              <input [(ngModel)]="pessoa.altura" matInput #postalCode placeholder="Ex. 1,50" value="">
            </mat-form-field>

            <mat-form-field class="campos">
              <mat-label>Peso</mat-label>
              <input [(ngModel)]="pessoa.peso" matInput #postalCode placeholder="Ex. 60,5" value="">
            </mat-form-field>
          </section>
          <section>
            <button (click)="calcularImc(pessoa)" mat-stroked-button class="calc-button">Calcular ></button>
            <button (click)="limparCampos()" mat-stroked-button class="clear-button">Limpar ></button>
          </section>

        </td>
      </mat-card-actions>

      <mat-divider></mat-divider>

      <mat-card-footer>
        Seu imc é: {{pessoa.imc}}
      </mat-card-footer>
    </mat-card>

  </div>
</main>




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
